@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #474848;
}

.h1 {
  font-family: 'Signika', sans-serif;

}

.emergencyButton2{
  color: red;
}

.t1:hover{
  color: aliceblue;
}

.work1{
 height: 300px;
 width: 300px;
background-color: #ffbed8;
color:#474848;
 border-radius: 30px;
}

.work1:hover{
  height: 300px;
  width: 300px;
 background-color: #ee5253;
 color:white;
  border-radius: 10px;
 }
 